@model Final.Models.ToDoDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>More about this task:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ToDoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToDoName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaysAssignedThisToDo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysAssignedThisToDo)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
